input[type="text"].input-1 {
    font-size: 12px;
    color: black;
    font-style: italic;
    font-family: 'Roboto';
    width: 100%;
    height: 25px;
    margin:0;
    padding:0 0 0 10px;
    border:0;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    background-color: #26262640;
}

input[type="text"].input-1::placeholder {
    font-size: 12px;
    color: #02b288ff;
    font-style: italic;
    font-family: 'Roboto';

}


input[type="text"].input-1:focus {
    outline: none;
    border-bottom: 1px solid white;
}


input[type="button"].register {
    width: 104px;
    height: 20px;
    margin:0;
    padding:0;
    border:0.3mm solid white;
    box-sizing: border-box;
    background: none;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    border-radius: 2px
}


