.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 250px;
    height: 420px;

}
.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    width: 250px;
    height: 260px;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    color: white;
}